@import 'generals';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background: $white;
    border-radius: 20px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
      -6px -6px 10px rgba(255, 255, 255, 0.5),
      6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
    .image {
      img{
        height: 300px;
        width: 500px;
      }
    }
  }
}
